div{
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 10px;


}

table{
    background-color: wheat; 
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 10px; 

}